<!-- 
Authentication - process of validating whether a user/app is who they claim to be
Authorization  - process of determining the actions a user/app can perform (a.k.a. roles - guest user, authorized user, admin)
OAuth 2 - Authorization framework that enables applications to have limited access to a resource on behalf of a resource owner (user)
OpenID Connect - Identity layer on top of OAuth 2 
(OAuth 2 provides support for authorization, OpenID Connect allows to have authentication)
JSON Web Token (JWT) - Open standard that defines self-contained way of describing tokens (Used by OAuth and OpenID Connect)
JWT consists of - Header, Payload, Signature
Authorization Server generates tokens and defines security policies
Okta.com provides a cloud based authorization server + platform -->

<!-- Container to inject the Okta Sign-In Widget -->
<div class="pt-5">
    <div id="okta-sign-in-widget" class="pt-5">
        
    </div>
</div>